<!DOCTYPE html>
<html lang="en">

<head th:replace="@{/commons/_common_header} :: common_header(~{::title},~{},~{})">
    <title>系统配置</title>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="@{/commons/_navbar} :: navbar" />
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div th:replace="@{/commons/_settings-panel} :: settings-panel" />
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="@{/commons/_sidebar} :: sidebar" />
        <!-- partial -->
        <div class="main-panel">
            主页内容
            <div th:replace="@{commons/_footer} :: footer" />
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<div th:replace="@{/commons/_common_foot_js} :: footjs"></div>
</body>

</html>